---
import { Icon } from 'astro-icon/components';
import { getHomePermalink } from '~/utils/permalinks';
import Logo from '../Logo.astro';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], footNote = '', theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 dark:border-slate-800 not-prose']}>
  <div class="dark:bg-dark absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300">
    <div class="flex flex-col sm:flex-row justify-between items-center py-8 md:py-12">
      <a class="flex items-center mb-4 sm:mb-0" href={getHomePermalink()}>
        <Logo />
      </a>
      <div class="text-sm dark:text-slate-400 mb-4 sm:mb-0">
        <Fragment set:html={footNote} />
      </div>
      <div class="flex flex-row space-x-2">
        {
          socialLinks.map(({ ariaLabel, href, text, icon }) => (
            <a
              class="text-muted hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
              aria-label={ariaLabel}
              href={href}
            >
              {icon && <Icon name={icon} class="w-6 h-6" />}
              <Fragment set:html={text} />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</footer>
