---
import { Icon } from 'astro-icon/components';

export interface Props {
  url: string;
  class?: string;
  iconClass?: string;
  iconName?: string;
}

const {
  url,
  class: 
    className = 'text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center',
  iconClass = 'w-6 h-6',
} = Astro.props;
---
{
<a href={'https://open.spotify.com/artist/2DxML1TqtSfKbvmaXb3o4g'} class={className} title="Spotify" aria-label={"spotify"}>
  <Icon name={'tabler:brand-spotify'} class={iconClass} />
</a>
<a href={'https://music.apple.com/us/artist/doglava/1465208865'} class={className} title="Apple Music" aria-label={"apple music"}>
  <Icon name={'tabler:brand-apple'} class={iconClass} />
</a>
<a href={'https://www.instagram.com/doglava/?hl=en'} class={className} title="Instagram" aria-label={"instagram"}>
  <Icon name={'tabler:brand-instagram'} class={iconClass} />
</a>
<a href={'https://www.facebook.com/doglava/'} class={className} title="Facebook" aria-label={"facebook"}>
  <Icon name={'tabler:brand-facebook'} class={iconClass} />
</a>
}